@charset "utf-8";
/* CSS Document */

body{margin: 1vw;
}

table, th, td {text-align: center; color: white; border-collapse: collapse; font-size: 1vw; border-spacing: 0px; border: 3px solid; width: 20vw; height: 50%; margin-right: 3vw; clear: right;  margin-bottom: 2.5vw;}

.powrot{float: left; color: aqua; font-size: 1.3vw;
}
.imie {text-align: center; 
	color: burlywood; 
	font-family:DejaVu;
	font-size: 8vw; 
	margin-top: 3vw;
}
.I{color: white;
}
.tekst{color: white; margin-right: 1vw; font-size: 1.3vw; text-align: justify;
}
.podstrona {color:aqua; font-size: 1.3vw;
}
.conor {font-size: 2vw; color:bisque;
}
.foto{margin-bottom: 1vw; margin-right: 1vw;
}
.back{position: fixed;
}
.fotog{float: left; margin-right: 2vw;
}
.tabela{margin-left: 1vw;
}
.fotog1{float: center; margin: 2vw;
}