@charset "utf-8";
/* CSS Document */

.tlo {background-color:#4500A7; margin-right: 50px; margin-left: 50px; margin-bottom: 50px;}

.galeria {text-align: center; color: burlywood; font-family:DejaVu; font-size: 100px; margin-top: 40px;}

.powrot {color: aqua;}

span.powrot:hover {text-decoration: underline;}

.back{position: fixed;
}
.powrot{float: left; color: aqua; font-size: 1vw;
}


